{% extends 'base.html' %}
{%block content%}
<div>
	<form method= "get" action= "/search" >
		{%csrf_token%}
		<input type="search" name="query" id="query">

		<button type= 'submit'>Submit!</button>
	</form>

	
	{%for instance in movie_list %}
	<!--  TITULO DE LA PELICULA-->
		<h2>{{ instance.title}}</h2>

		<!--PROCEDE A FILTRAR Y COLOCAR LA RESPECTIVA INFO DEL TITULO
			EN INFO DE LA PELÍCULA EN SÍ, EN LA INFO DEL RATING Y EN 
			LA GENTE QUE PARTICIPAN EN LA PELÍCULA-->


		<!-- MOVIE RELATED INFO-->

		{%for movie_info in movie%}

				<!--FILTRO MOVIE-->
		{%ifequal instance.title movie_info.title%}

				<!-- GENERO Y AÑO-->
			<h4>Genero: {{movie_info.genres}}</h4>
			<p>Año:{{movie_info.startYear}} </p>
			

		{%endifequal%}
		{%endfor%}


		<!--RATING RELATED INFO-->
		{%for rating_id in rating%}

				<!--FILTRO-->
			{%ifequal instance.pk rating_id.tconst%}

				<!--VOTOS ESTIMADOS-->
			<h4>Average Votes: {{rating_id.averageRatting}}/10</h4>
			<p>Votes: {{rating_id.numVotes}}</p>

			{%endifequal%}

		{%endfor%}


		{%endfor%}

		
		
{%endblock%}