{% extends 'base.html' %}
{%block content%}



<div>
	<form method= "get" action= "/search" >
		{%csrf_token%}
		<input type="search" name="query" id="query">

		<button type= 'submit'>Submit!</button>
	</form>
</div>




{%endblock%}
