<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 	 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 	 <link rel="stylesheet" href=https://bootswatch.com/4/lux/bootstrap.css>
 	 <title>Moviepedia</title>

</head>
<body style= "background-color: #f8f8ff">
	
		<div id="app" style='z-index: 10'></div>
		{%load static%}
		<script src= '{% static "frontend/main.js" %}'></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


			
</body>
</html>